
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "poppins",sans-serif;
    
}
body{
  background-color:#4f0800;

}
.wrapper{
    margin:50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
    height: 250px;
    list-style: none;
    background: #fff;
    border-radius:5px;
    padding: 15px 20px 20px;
}
.add-box, .icon, .bottom-content{
    display:flex;
    align-items:center ;
    justify-content: space-between;
    
}
.add-box{
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.add-box .icon {
    height: 78px;
    width: 78px;
    color:#7e0303;
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    border:2px dashed #7e0303;
}
.add-box p{
    color:#7e0303;
    font-weight: 500;
    margin-top: 20px;
}
.wrapper .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note p{
    font-size: 22px;
    font-weight: 500;

}
.note span{
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}
.note .bottom-content{
    padding-top: 10px;
 border-top:1px solid #ccc ;
}
.bottom-content span{
    color: #6d6d6d;
    font-size: 14px;
}
.bottom-content, .settings i{
    color: #6d6d6d;
    font-size: 15px;
    cursor:pointer;
}
.settings{
    position: relative;
}
.settings .menu{
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0,0,0.15);
}
.settings .menu li{
    height: 25px;
    border-radius: 0;
}